services:
  web:
    build: .
    container_name: lucrorural_challenge_web
    ports:
      - 8000:8000
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: lucrorural_challenge_db
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=lucrorural_challenge

volumes:
  postgres_data:
